@import url("http://fonts.googleapis.com/css?family=Roboto");
/* line 2, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/experience.css.scss */
#experience h3 {
  padding-top: 14px; }
  /* line 4, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/experience.css.scss */
  #experience h3 em {
    font-weight: 300;
    display: block;
    font-size: 2rem; }
/* line 11, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/experience.css.scss */
#experience p {
  margin-top: 6px;
  padding-left: 1em; }
/* line 15, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/experience.css.scss */
#experience h3 {
  margin-bottom: 0px; }

/* line 3, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* line 7, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
h1 {
  font-size: 50px;
  margin-top: 0;
  padding-top: 0; }

/* line 13, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
h2 {
  padding-top: 1em; }

/* line 17, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
h3, p {
  margin-left: 20px; }

/* line 21, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
h3 {
  padding-top: 14px; }
  /* line 23, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
  h3 em {
    font-weight: normal;
    font-style: normal;
    display: block; }

/* line 31, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
#experience h3 em {
  font-size: 1rem; }

@media print {
  /* line 39, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/cv.scss */
  a {
    color: black;
    text-decoration: none; } }
