/* line 2, /home/jnronall/code/prelim_inventory_github_pages/source/stylesheets/experience.css.scss */
#experience h3 {
  padding-top: 14px; }
  /* line 4, /home/jnronall/code/prelim_inventory_github_pages/source/stylesheets/experience.css.scss */
  #experience h3 em {
    font-weight: 300;
    display: block;
    font-size: 2rem; }
/* line 11, /home/jnronall/code/prelim_inventory_github_pages/source/stylesheets/experience.css.scss */
#experience p {
  margin-top: 6px;
  padding-left: 1em; }
/* line 15, /home/jnronall/code/prelim_inventory_github_pages/source/stylesheets/experience.css.scss */
#experience h3 {
  margin-bottom: 0px; }
