/* line 1, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/footer-push.css.scss */
footer {
  margin-top: 30px; }

/* line 6, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/footer-push.css.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */ }

/* Wrapper for page content to push down footer */
/* line 11, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/footer-push.css.scss */
#page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -160px; }

/* Set the fixed height of the footer here */
/* line 21, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/footer-push.css.scss */
#footer-push,
#footer {
  height: 160px; }

@media (max-width: 767px) {
  /* line 26, /home/jnronall/code/prelim_inventory_github_pages_redirect/source/stylesheets/footer-push.css.scss */
  #footer {
    padding-left: 20px;
    padding-right: 20px; } }
