// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  background-image: url(/images/background2.png);
}


// do not show the repo for the blog itself
#gh_repos a[href="https://github.com/jronallo/jronallo.github.com"] {
  display:none;
}
