// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  background-image: url(/images/background2.png);
}


// do not show the repo for the blog itself
#gh_repos a[href="https://github.com/jronallo/jronallo.github.com"] {
  display:none;
}


div.pin{
  padding-bottom: 1em;
  li {
    list-style-type: none;
    margin-bottom: 1em; 
  }
}
.seeall{
  background: darken($main-bg, 5);
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: mix($text-color, $text-color-light);
    @extend .serif;
    @include transition(background-color .5s);
    &:hover {
      background: $link-color-hover;
      text-shadow: none;
      color: $main-bg;
    }
}

@media only screen and (min-width: 768px) {
  ul, ol {
    margin-left: 30px;
  }
}





